*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
}

html , body{
    width: 100%;
    height: 100%;

}

.main{
    height: 100%;
    height: 100%;
    background-color: rgb(219, 214, 214);
    display: flex;
}

.right{
    width: 45%;
    height: 100%;
    background-color: rgb(243, 241, 245);
    position: relative;
    
    
}

.left{
    width: 55%;
    height: 100%;
    background-color: blue;
}

.rtop{
    width: 100%;
    height: 50%;
    background-color: yellow;
    background-image: url(https://images.unsplash.com/photo-1495360010541-f48722b34f7d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1936&q=80);
    background-position: left;
    background-size: contain;
}

.rbottom{
    width: 100%;
    height: 50%;
    background-color: rgb(8, 8, 51);
    background-image: url(https://images.unsplash.com/photo-1651840624468-28b67264c4c0?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8cG9zdGVyJTIwZWRpdGluZ3xlbnwwfDB8MHx8fDA%3D&auto=format&fit=crop&w=600&q=60);
    background-position: center;
    background-origin: content-box;   
}

.rtopright{
    width: 55%;
    height: 100%;
    background-color: brown;
    background-image: url(https://images.unsplash.com/reserve/LJIZlzHgQ7WPSh5KVTCB_Typewriter.jpg?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1992&q=80);
    background-position: center;
    background-size:cover ;
}

.nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px 30px;
}

.rnav a{
margin-right: 50px;
text-decoration: none;
color: black;
font-weight: 500;   
font-size: 18px;


}

.rnav{
    display: flex;
    align-items: center;
}

.rnav i{
    font-size: 20px;
    color: royalblue;
}

#arr{
    color: rgba(0, 0, 0, 0.25);
    font-size: 20px;
}

.text{
    position: absolute;
    left:20%;
    top:30%;
    transform: translate(-50,-50)   ;
}




.text h1{
    font-family:'Poppins', sans-serif;
    font-size: 50px;
    font-weight: 900;   
}

.text p{
    opacity: 0.6;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom:20px;
    line-height: 30px;
}

.text a{
    text-decoration: none;
    border-bottom: 1px solid black;
    padding-bottom: 4px;
    color: black;
    font-size: 15px;
    font-weight: 600;
}


.rnav a:hover{
    text-decoration: underline;
    font-weight: 900;
}

.rnav i:hover{
    cursor: pointer;
    font-size: 30px;
}


@media (max-width:1600px) {
    .main{
        flex-direction: column;

    }
    .main .left{
        width: 100%;
    }
    .main .right{
        width: 100%;
    }
    .text {
        left: 10%;
        top:auto;
    }


    
}