*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'gilroy';
}

html , body{
    width: 100%;
    height: 100%;

}

.main{
    height: 100%;
    height: 100%;
    background-color: rgb(219, 214, 214);
    display: flex;
}

.right{
    width: 45%;
    height: 100%;
    background-color: rgb(243, 241, 245);
    
    
}

.left{
    width: 55%;
    height: 100%;
    background-color: blue;
}

.rtop{
    width: 100%;
    height: 50%;
    background-color: yellow;
    background-image: url(https://images.unsplash.com/photo-1495360010541-f48722b34f7d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1936&q=80);
    background-position: left;
    background-size: contain;
}

.rbottom{
    width: 100%;
    height: 50%;
    background-color: rgb(8, 8, 51);
    background-image: url(https://images.unsplash.com/photo-1651840624468-28b67264c4c0?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8cG9zdGVyJTIwZWRpdGluZ3xlbnwwfDB8MHx8fDA%3D&auto=format&fit=crop&w=600&q=60);
    background-position: center;
    background-origin: content-box;   
}

.rtopright{
    width: 55%;
    height: 100%;
    background-color: brown;
    background-image: url(https://images.unsplash.com/reserve/LJIZlzHgQ7WPSh5KVTCB_Typewriter.jpg?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1992&q=80);
    background-position: center;
    background-size:cover ;
}

.nav{
    margin-top: 20px;
    display: flex;
    gap:70px;
    justify-content: space-around;

}

.nav i{
    font-size: 1.5rem;
    margin-left: 10px;
    color: royalblue;
}

.nav h3{
    font-size: auto;
    margin-top: 5px;
}

.nav>h3:hover{
    cursor: pointer;
    text-decoration: underline;
}


.nav i:hover{
        font-size: 1.8rem;
        cursor: pointer;
}

.nav #arr{
    float: right;
    color: rgba(0, 0, 0, 0.389);
}



.text{
    margin:150px;
    /* background-color: azure; */
    padding-top: 20px; 

    
}
.text h1{
    font-size: 50px;
    font-weight: 800;
}
.text>h5{
    padding-top: 22px;
    font-size: 20px;
    font-weight: 400;
}

button{
    margin-top: 30px;
    padding: 13px;
    font-size: 15px;
    font-weight: 600;
    border: navy;
    background-color:royalblue;
    cursor: pointer;
    border-radius: 4px;
    color: white;

}
